# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

/.pnp
.pnp.js

# testing
/coverage

# production
/build


# Views
/views/portal_ui_att_transfer/node_modules/
# !/views/portal_ui_automator/build/



# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# node_modules

localdata.json
images/*.png
database/